examples/flight-recorder-demo.json
[
    {
        "id": "frdemo.tab",
        "type": "tab",
        "label": "Flight Recorder Demo",
        "disabled": false,
        "info": "A self-demonstrating flight recorder setup.\n\nRow 1: an inject fires every 2s into a simulated sensor that errors every 10th reading. An INLINE recorder sits on the wire with a watermark (temp > 90) and passes traffic through untouched.\n\nRow 2: a TAP recorder is scoped to this whole tab with auto-error dumps enabled — the sensor's periodic error produces an automatic incident.\n\nRow 3: control panels. Inject buttons issue dump / pause / resume / mark / query to each recorder; receipts appear on the acks debug.\n\nDeploy, open the debug sidebar, and incidents will start arriving within seconds."
    },

    {
        "id": "frdemo.inject.tick",
        "type": "inject",
        "z": "frdemo.tab",
        "name": "every 2s",
        "props": [ { "p": "payload" } ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120, "y": 80,
        "wires": [ [ "frdemo.func.sensor" ] ]
    },
    {
        "id": "frdemo.func.sensor",
        "type": "function",
        "z": "frdemo.tab",
        "name": "sensor sim (errors every 10th)",
        "func": "const count = (context.get('count') || 0) + 1;\ncontext.set('count', count);\n\nmsg.topic = 'sensors/demo';\nmsg.payload = {\n    temp: 60 + Math.round(Math.random() * 35),\n    reading: count\n};\n\nif (count % 10 === 0) {\n    node.error('sensor glitch (simulated)', msg);\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330, "y": 80,
        "wires": [ [ "frdemo.rec.inline" ] ]
    },
    {
        "id": "frdemo.rec.inline",
        "type": "flight-recorder",
        "z": "frdemo.tab",
        "name": "inline recorder",
        "capacity": "25",
        "captureMode": "full",
        "maxRecordBytes": "16384",
        "redactPaths": "",
        "persist": false,
        "incidentCooldownMs": "15000",
        "watermarkProperty": "payload.temp",
        "watermarkOperator": "gt",
        "watermarkValue": "90",
        "x": 560, "y": 80,
        "wires": [
            [ "frdemo.dbg.passthrough" ],
            [ "frdemo.dbg.inline.incidents" ],
            [ "frdemo.dbg.inline.query" ],
            [ "frdemo.dbg.inline.events" ]
        ]
    },
    {
        "id": "frdemo.dbg.passthrough",
        "type": "debug",
        "z": "frdemo.tab",
        "name": "passthrough (traffic)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800, "y": 40,
        "wires": []
    },
    {
        "id": "frdemo.dbg.inline.incidents",
        "type": "debug",
        "z": "frdemo.tab",
        "name": "INLINE incidents",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790, "y": 80,
        "wires": []
    },
    {
        "id": "frdemo.dbg.inline.query",
        "type": "debug",
        "z": "frdemo.tab",
        "name": "INLINE query",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780, "y": 120,
        "wires": []
    },
    {
        "id": "frdemo.dbg.inline.events",
        "type": "debug",
        "z": "frdemo.tab",
        "name": "INLINE events",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 780, "y": 160,
        "wires": []
    },

    {
        "id": "frdemo.rec.tap",
        "type": "flight-recorder-tap",
        "z": "frdemo.tab",
        "name": "tap: whole demo tab",
        "scopeAllFlows": false,
        "scopeFlows": "frdemo.tab",
        "scopeNodes": "",
        "scopeTypes": "",
        "excludeNodes": "",
        "excludeTypes": "debug",
        "autoErrorDump": true,
        "capacity": "50",
        "captureMode": "full",
        "maxRecordBytes": "16384",
        "redactPaths": "",
        "persist": false,
        "incidentCooldownMs": "15000",
        "watermarkProperty": "",
        "watermarkOperator": "none",
        "watermarkValue": "",
        "x": 350, "y": 280,
        "wires": [
            [ "frdemo.dbg.tap.incidents" ],
            [ "frdemo.dbg.tap.query" ],
            [ "frdemo.dbg.tap.events" ]
        ]
    },
    {
        "id": "frdemo.dbg.tap.incidents",
        "type": "debug",
        "z": "frdemo.tab",
        "name": "TAP incidents (auto on sensor error)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850, "y": 240,
        "wires": []
    },
    {
        "id": "frdemo.dbg.tap.query",
        "type": "debug",
        "z": "frdemo.tab",
        "name": "TAP query",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770, "y": 280,
        "wires": []
    },
    {
        "id": "frdemo.dbg.tap.events",
        "type": "debug",
        "z": "frdemo.tab",
        "name": "TAP events",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770, "y": 320,
        "wires": []
    },

    {
        "id": "frdemo.inject.tap.dump",
        "type": "inject",
        "z": "frdemo.tab",
        "name": "dump",
        "props": [ { "p": "payload" } ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dump",
        "payloadType": "str",
        "x": 110, "y": 420,
        "wires": [ [ "frdemo.ctl.tap" ] ]
    },
    {
        "id": "frdemo.inject.tap.pause",
        "type": "inject",
        "z": "frdemo.tab",
        "name": "pause",
        "props": [ { "p": "payload" } ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "pause",
        "payloadType": "str",
        "x": 110, "y": 460,
        "wires": [ [ "frdemo.ctl.tap" ] ]
    },
    {
        "id": "frdemo.inject.tap.resume",
        "type": "inject",
        "z": "frdemo.tab",
        "name": "resume",
        "props": [ { "p": "payload" } ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "resume",
        "payloadType": "str",
        "x": 120, "y": 500,
        "wires": [ [ "frdemo.ctl.tap" ] ]
    },
    {
        "id": "frdemo.inject.tap.mark",
        "type": "inject",
        "z": "frdemo.tab",
        "name": "mark",
        "props": [
            { "p": "payload" },
            { "p": "annotation", "v": "{\"note\":\"manual mark from cockpit\"}", "vt": "json" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "mark",
        "payloadType": "str",
        "x": 110, "y": 540,
        "wires": [ [ "frdemo.ctl.tap" ] ]
    },
    {
        "id": "frdemo.inject.tap.query",
        "type": "inject",
        "z": "frdemo.tab",
        "name": "query",
        "props": [ { "p": "payload" } ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "query",
        "payloadType": "str",
        "x": 110, "y": 580,
        "wires": [ [ "frdemo.ctl.tap" ] ]
    },
    {
        "id": "frdemo.inject.tap.mute",
        "type": "inject",
        "z": "frdemo.tab",
        "name": "mute the inject",
        "props": [
            { "p": "payload" },
            { "p": "target", "v": "{\"node\":\"frdemo.inject.tick\"}", "vt": "json" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "mute",
        "payloadType": "str",
        "x": 140, "y": 620,
        "wires": [ [ "frdemo.ctl.tap" ] ]
    },
    {
        "id": "frdemo.ctl.tap",
        "type": "flight-recorder-control",
        "z": "frdemo.tab",
        "name": "tap cockpit",
        "target": "frdemo.rec.tap",
        "x": 350, "y": 500,
        "wires": [ [ "frdemo.dbg.acks" ] ]
    },

    {
        "id": "frdemo.inject.inline.dump",
        "type": "inject",
        "z": "frdemo.tab",
        "name": "dump",
        "props": [ { "p": "payload" } ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dump",
        "payloadType": "str",
        "x": 110, "y": 700,
        "wires": [ [ "frdemo.ctl.inline" ] ]
    },
    {
        "id": "frdemo.inject.inline.query",
        "type": "inject",
        "z": "frdemo.tab",
        "name": "query",
        "props": [ { "p": "payload" } ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "query",
        "payloadType": "str",
        "x": 110, "y": 740,
        "wires": [ [ "frdemo.ctl.inline" ] ]
    },
    {
        "id": "frdemo.ctl.inline",
        "type": "flight-recorder-control",
        "z": "frdemo.tab",
        "name": "inline cockpit",
        "target": "frdemo.rec.inline",
        "x": 360, "y": 720,
        "wires": [ [ "frdemo.dbg.acks" ] ]
    },
    {
        "id": "frdemo.dbg.acks",
        "type": "debug",
        "z": "frdemo.tab",
        "name": "command receipts",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790, "y": 610,
        "wires": []
    },

    {
        "id": "frdemo.comment.1",
        "type": "comment",
        "z": "frdemo.tab",
        "name": "1. Traffic + inline recorder — passthrough is sacred; watermark: temp > 90",
        "info": "",
        "x": 300, "y": 40,
        "wires": []
    },
    {
        "id": "frdemo.comment.2",
        "type": "comment",
        "z": "frdemo.tab",
        "name": "2. Tap — scoped to this tab, auto-dumps on the sensor's simulated errors",
        "info": "",
        "x": 300, "y": 240,
        "wires": []
    },
    {
        "id": "frdemo.comment.3",
        "type": "comment",
        "z": "frdemo.tab",
        "name": "3. Cockpit panels — commands in, receipts out; results on the recorders' outputs",
        "info": "",
        "x": 310, "y": 380,
        "wires": []
    }
]
