examples/home-assistant-integration.json
[
    {
        "id": "frha.tab",
        "type": "tab",
        "label": "Flight Recorder: Home Assistant",
        "disabled": false,
        "info": "Flight recorder incidents delivered into Home Assistant: a persistent notification per incident, plus an incident counter you can dashboard and automate on.\n\nREQUIREMENTS\nThis example uses the node-red-contrib-home-assistant-websocket palette (installed by default with the Home Assistant Node-RED add-on). Unlike the other examples, it needs two setup steps after import:\n\n1. Open each of the two teal 'call service' nodes and select your Home Assistant server in the Server dropdown (on the add-on there is usually one preconfigured entry named 'Home Assistant').\n2. In Home Assistant, create a Counter helper with entity id 'counter.flight_recorder_incidents' (Settings → Devices & services → Helpers → Create helper → Counter). Skip this step if you don't want the counter — the notification path works without it.\n\nWHAT IT DOES\nThe top row is a plain flow whose worker errors every 5th message. The tap records the whole tab and auto-dumps on error. Each incident becomes:\n- a persistent notification in HA (title, summary line, and where to find the full report), and\n- one increment of the incident counter — dashboard it, or automate on it (e.g. notify your phone when it exceeds N in an hour).\n\nADAPTING IT\nTo notify your phone instead, change the notification 'call service' node's domain/service to notify / mobile_app_<your_device> and adjust the data built by the 'build notification' function (mobile notifications use message/title at the top level rather than under data). To archive full reports alongside, set the report node's destination to 'message + file' with a directory such as /share/flight-recorder/reports — the notification already tells you where to look.\n\nThe incident cooldown is set to 60s so a repeating fault can't flood your notification panel."
    },

    {
        "id": "frha.comment.flow",
        "type": "comment",
        "z": "frha.tab",
        "name": "A plain flow — the worker errors every 5th message",
        "info": "",
        "x": 220, "y": 40,
        "wires": []
    },
    {
        "id": "frha.inject",
        "type": "inject",
        "z": "frha.tab",
        "name": "every 3s",
        "props": [ { "p": "payload" } ],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120, "y": 100,
        "wires": [ [ "frha.func" ] ]
    },
    {
        "id": "frha.func",
        "type": "function",
        "z": "frha.tab",
        "name": "worker (errors every 5th)",
        "func": "const count = (context.get('count') || 0) + 1;\ncontext.set('count', count);\n\nmsg.payload = { value: Math.round(Math.random() * 100), run: count };\n\nif (count % 5 === 0) {\n    node.error('something went wrong (simulated)', msg);\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330, "y": 100,
        "wires": [ [ "frha.dbg.flow" ] ]
    },
    {
        "id": "frha.dbg.flow",
        "type": "debug",
        "z": "frha.tab",
        "name": "normal output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550, "y": 100,
        "wires": []
    },

    {
        "id": "frha.comment.tap",
        "type": "comment",
        "z": "frha.tab",
        "name": "Tap auto-dumps on error → each incident becomes an HA notification + counter tick",
        "info": "",
        "x": 320, "y": 200,
        "wires": []
    },
    {
        "id": "frha.tap",
        "type": "flight-recorder-tap",
        "z": "frha.tab",
        "name": "tap: watch this tab",
        "scopeAllFlows": false,
        "scopeFlows": "frha.tab",
        "scopeNodes": "",
        "scopeTypes": "",
        "excludeNodes": "",
        "excludeTypes": "debug",
        "autoErrorDump": true,
        "capacity": "15",
        "captureMode": "full",
        "maxRecordBytes": "16384",
        "redactPaths": "",
        "persist": false,
        "incidentCooldownMs": "60000",
        "watermarkProperty": "",
        "watermarkOperator": "none",
        "watermarkValue": "",
        "x": 140, "y": 260,
        "wires": [
            [ "frha.report" ],
            [ ],
            [ ]
        ]
    },
    {
        "id": "frha.report",
        "type": "flight-recorder-report",
        "z": "frha.tab",
        "name": "summarize",
        "format": "text",
        "destination": "message",
        "directory": "",
        "filenameTemplate": "{date}_{time}_{trigger}_{storeId}",
        "rawJson": false,
        "retention": "100",
        "previewChars": "60",
        "x": 330, "y": 260,
        "wires": [ [ "frha.func.notify", "frha.svc.counter" ] ]
    },
    {
        "id": "frha.func.notify",
        "type": "function",
        "z": "frha.tab",
        "name": "build notification",
        "func": "// msg.report.source is the untouched incident; msg.payload is the rendered report\nconst inc = msg.report.source;\nconst s = inc.stats;\n\nconst cause = (inc.trigger === 'error' && inc.context && inc.context.error)\n    ? String(inc.context.error.message || 'unknown error')\n    : inc.trigger;\nconst from = (inc.context && inc.context.source && inc.context.source.name)\n    ? ' in \"' + inc.context.source.name + '\"'\n    : '';\n\nmsg.payload = {\n    data: {\n        title: '✈ Flight Recorder: ' + inc.trigger.toUpperCase() + ' incident',\n        message: cause + from + ' — ' + s.recordCount + ' records over the preceding period.'\n            + ' Store: ' + inc.storeId + '.'\n            + ' Enable file output on the report node for the full timeline.',\n        notification_id: 'flight_recorder_' + inc.storeId\n    }\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550, "y": 240,
        "wires": [ [ "frha.svc.notify" ] ]
    },
    {
        "id": "frha.svc.notify",
        "type": "api-call-service",
        "z": "frha.tab",
        "name": "HA: persistent notification",
        "server": "",
        "version": 5,
        "debugenabled": false,
        "domain": "persistent_notification",
        "service": "create",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 800, "y": 240,
        "wires": [ [ ] ]
    },
    {
        "id": "frha.svc.counter",
        "type": "api-call-service",
        "z": "frha.tab",
        "name": "HA: increment incident counter",
        "server": "",
        "version": 5,
        "debugenabled": false,
        "domain": "counter",
        "service": "increment",
        "areaId": [],
        "deviceId": [],
        "entityId": [ "counter.flight_recorder_incidents" ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 590, "y": 300,
        "wires": [ [ ] ]
    }
]
