examples/simple-tap-recorder.json
[
  {
    "id": "frsimple2.tab",
    "type": "tab",
    "label": "Flight Recorder: Simple Tap",
    "disabled": false,
    "info": "The smallest useful tap setup — completely non-invasive recording.\n\nThe top row is a plain flow that has no idea it is being watched: nothing recorder-related is wired into it. The tap below observes every message in this tab via Node-RED's messaging hooks, and because auto-error dump is on, the moment the function reports an error (every 5th message) a readable incident report appears in the debug sidebar — showing the messages that led up to the failure. Zero interaction required.\n\nWhen you're comfortable with this, import the 'Flight Recorder Full Demo' example to see cockpit controls, watermarks, pause/mark/mute and more."
  },
  {
    "id": "frsimple2.comment.flow",
    "type": "comment",
    "z": "frsimple2.tab",
    "name": "A plain flow that doesn't know it's being watched — nothing recorder-related is wired in.",
    "info": "",
    "x": 350,
    "y": 40,
    "wires": []
  },
  {
    "id": "frsimple2.inject",
    "type": "inject",
    "z": "frsimple2.tab",
    "name": "every 2s",
    "props": [{ "p": "payload" }],
    "repeat": "2",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 100,
    "wires": [["frsimple2.func"]]
  },
  {
    "id": "frsimple2.func",
    "type": "function",
    "z": "frsimple2.tab",
    "name": "worker (errors every 5th)",
    "func": "const count = (context.get('count') || 0) + 1;\ncontext.set('count', count);\n\nmsg.payload = { value: Math.round(Math.random() * 100), run: count };\n\nif (count % 5 === 0) {\n    node.error('something went wrong (simulated)', msg);\n    return null;\n}\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 100,
    "wires": [["frsimple2.dbg.flow"]]
  },
  {
    "id": "frsimple2.dbg.flow",
    "type": "debug",
    "z": "frsimple2.tab",
    "name": "normal output",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 560,
    "y": 100,
    "wires": []
  },

  {
    "id": "frsimple2.comment.tap",
    "type": "comment",
    "z": "frsimple2.tab",
    "name": "The tap watches this whole tab. When the worker errors, a report appears — hands-free.",
    "info": "",
    "x": 350,
    "y": 200,
    "wires": []
  },
  {
    "id": "frsimple2.tap",
    "type": "flight-recorder-tap",
    "z": "frsimple2.tab",
    "name": "tap: watch this tab",
    "scopeAllFlows": false,
    "scopeFlows": "frsimple2.tab",
    "scopeNodes": "",
    "scopeTypes": "",
    "excludeNodes": "",
    "excludeTypes": "debug",
    "autoErrorDump": true,
    "capacity": "15",
    "captureMode": "full",
    "maxRecordBytes": "16384",
    "redactPaths": "",
    "persist": false,
    "incidentCooldownMs": "10000",
    "watermarkProperty": "",
    "watermarkOperator": "none",
    "watermarkValue": "",
    "x": 140,
    "y": 260,
    "wires": [["frsimple2.report"], [], []]
  },
  {
    "id": "frsimple2.report",
    "type": "flight-recorder-report",
    "z": "frsimple2.tab",
    "name": "make it readable",
    "format": "text",
    "destination": "message",
    "directory": "",
    "filenameTemplate": "{date}_{time}_{trigger}_{storeId}",
    "rawJson": false,
    "retention": "100",
    "previewChars": "60",
    "x": 360,
    "y": 260,
    "wires": [["frsimple2.dbg.report"]]
  },
  {
    "id": "frsimple2.dbg.report",
    "type": "debug",
    "z": "frsimple2.tab",
    "name": "incident report",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 570,
    "y": 260,
    "wires": []
  }
]
