examples/simple-inline-recorder.json
[
    {
        "id": "frsimple1.tab",
        "type": "tab",
        "label": "Flight Recorder: Simple Inline",
        "disabled": false,
        "info": "The smallest useful inline recorder setup.\n\nTraffic flows through the recorder untouched — drop it on any wire. Press the 'dump' inject and a readable report of the recent past appears in the debug sidebar.\n\nWhen you're comfortable with this, import the 'Flight Recorder Full Demo' example to see watermarks, auto-error dumps, taps, pause/mark/mute and more."
    },
    {
        "id": "frsimple1.comment",
        "type": "comment",
        "z": "frsimple1.tab",
        "name": "Messages pass through untouched. Press 'dump' to get a readable recording of the recent past.",
        "info": "",
        "x": 370, "y": 40,
        "wires": []
    },
    {
        "id": "frsimple1.inject",
        "type": "inject",
        "z": "frsimple1.tab",
        "name": "every 3s",
        "props": [ { "p": "payload" } ],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120, "y": 100,
        "wires": [ [ "frsimple1.recorder" ] ]
    },
    {
        "id": "frsimple1.recorder",
        "type": "flight-recorder",
        "z": "frsimple1.tab",
        "name": "recorder",
        "capacity": "12",
        "captureMode": "full",
        "maxRecordBytes": "16384",
        "redactPaths": "",
        "persist": false,
        "incidentCooldownMs": "0",
        "watermarkProperty": "",
        "watermarkOperator": "none",
        "watermarkValue": "",
        "x": 300, "y": 100,
        "wires": [
            [ "frsimple1.dbg.traffic" ],
            [ "frsimple1.report" ],
            [ ],
            [ ]
        ]
    },
    {
        "id": "frsimple1.dbg.traffic",
        "type": "debug",
        "z": "frsimple1.tab",
        "name": "traffic out (unchanged)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540, "y": 60,
        "wires": []
    },
    {
        "id": "frsimple1.report",
        "type": "flight-recorder-report",
        "z": "frsimple1.tab",
        "name": "make it readable",
        "format": "text",
        "destination": "message",
        "directory": "",
        "filenameTemplate": "{date}_{time}_{trigger}_{storeId}",
        "rawJson": false,
        "retention": "100",
        "previewChars": "60",
        "x": 530, "y": 100,
        "wires": [ [ "frsimple1.dbg.report" ] ]
    },
    {
        "id": "frsimple1.dbg.report",
        "type": "debug",
        "z": "frsimple1.tab",
        "name": "readable report",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740, "y": 100,
        "wires": []
    },
    {
        "id": "frsimple1.inject.dump",
        "type": "inject",
        "z": "frsimple1.tab",
        "name": "dump",
        "props": [ { "p": "payload" } ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dump",
        "payloadType": "str",
        "x": 110, "y": 180,
        "wires": [ [ "frsimple1.control" ] ]
    },
    {
        "id": "frsimple1.control",
        "type": "flight-recorder-control",
        "z": "frsimple1.tab",
        "name": "",
        "target": "frsimple1.recorder",
        "x": 300, "y": 180,
        "wires": [ [ ] ]
    }
]
